// -------------------Colors-------------------------------

$primaryBackgroundColor: #141d21; //color for background
$primaryTextColor: #53b25e; //color for text
$primaryTextColorHover: #77ff87; //color for text hover

//-------------------Colors--------------------------------

// -------------------Fonts--------------------------------
$primaryFontRaleway: 'Raleway', sans-serif;
$secondaryFontRoboto: 'Roboto Condensed', sans-serif;
// -------------------Fonts--------------------------------