@import '../../GlobalStyles/GlobalStyles.scss';

.Movie{
    display: flex;

    .backgroundAbsolute{
        position: fixed;
        background-repeat: no-repeat;
        background-position: top;
        background-attachment: fixed;
        background-size: cover;
        z-index: -1;
        top: 0;
        width: 100%;
        height: 100vh;
    }

    .wrapper{
        justify-content: center;
        width: 1100px;
        min-width: 320px;
        background-color: #000000;
        margin: 0 auto;
        margin-top: 65px;
        display: flex;

        // Medium devices (tablets, 821px and down)
        @media (max-width: 821px) { 
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: transparent;
        }

        .cover{
            margin-right: 25px;
            position: relative;
            
            @media (max-width: 821px) { 
                width: 65%;
                margin: 0 auto;
            }
            
            img{
                width: 320px;
                @media (max-width: 821px) { 
                    width: 100%; 
                }
            }
        }

        .details{
            .movieTitle{
                color: $primaryTextColorHover;
                text-transform: uppercase;
                font-family: $primaryFontRaleway;
                color: #ffffff;
                margin-bottom: 0;
                margin-top: 15px;
            }
    
            .movieTagLine{
                margin-top: 0;
                font-family: $secondaryFontRoboto;
                font-size: 18px;
                color: $primaryTextColorHover
            }
    
            .movieOverview{
                text-align: left;
                color: #ffffff;
                line-height: 23px;
                font-size: 16px;
                margin-right: 45px;

                @media (max-width: 821px) { 
                    .movieOverview{
                        margin-right: 0;
                    }
                }
            }

            
    
            .genresList{
                color: $primaryTextColorHover;
                margin-bottom: 5px;
                font-family: $primaryFontRaleway;
            }
    
            .companyNames{
                margin-top: 5px;
                font-size: 14px;
                font-family: $primaryFontRaleway;
                color: #ffffff;
            }
    
            .additionalDetails{
                display: flex;
                margin-top: 45px;

                .wrapperOne{
                    width: 50%;

                    p{
                        color: #ffffff;
                        text-align: left;
                        font-size: 15px;
                        font-family: $primaryFontRaleway;
                        margin-bottom: 0;
                    }
    
                    span{
                        font-size: 20px;
                        color: $primaryTextColorHover
                    }
                }

                .wrapperTwo{
                    width: 50%;

                    p{
                        color: #ffffff;
                        text-align: left;
                        font-size: 15px;
                        font-family: $primaryFontRaleway;
                        margin-bottom: 0;
                    }
    
                    span{
                        font-size: 20px;
                        color: $primaryTextColorHover;
                    }
                }
            }
        }
    }

    .trailers{
        position: absolute;
        margin-top: 85px;
        border: solid 1px $primaryTextColorHover;
        border-radius: 25px;
        border-top: none;
        border-bottom: none;
        display: flex;
        right: 0;
        bottom: 0;
        margin-top: 65px;

        @media (max-width: 821px) { 
            display: none;
        }
        
        .trailerItem{
            iframe{
                width: 180px;
                margin: 12.5px;
                height: 150px;
                border: none;
            }
        }
    }
}